<h2>Potwierdz subskrypcje newslettera tabdevs.pl</h2>

<p>Dziekujemy za zapisanie sie do newslettera tabdevs.pl!</p>

<p>Kliknij ponizszy link, aby potwierdzic subskrypcje:</p>

<p><%= link_to "Potwierdz subskrypcje", @confirm_url %></p>

<p>Jesli nie zapisywales sie do newslettera, zignoruj ta wiadomosc.</p>

<p>Pozdrawiamy,<br>Zespol tabdevs.pl</p>
